<h1> LeBonAppart ! </h1>


<h3> Nos 3 dernières annonces : </h3> 


<ul>
    {% for annonce in annonces %}
        <li>

        {{ annonce.description }}
        {% for image in annonce.image %}
        	image.url;
 		{% endfor %}
        </li>
    {% endfor %}
</ul>

<a href={{url}} >Deposer</a>
<a href={{urlRech}} >Recherche</a>  