<h1> LeBonAppart ! </h1>


<h3> Contacter le vendeur. </h3>
<div>
  <p>Contacter notre agence au 03-xx-xx-xx-xx, ou envoyer nous un email :</p>
</div>
</br>

<form action="{{res}}" method="post">

  Adresse mail : <input type="text" name="adresseMail"><br/>
  Message : <input type="text" name="message"><br/>
  <br/>
  <input type="submit" name="lanceContact" value="Contacter">
</form>
