<h1> LeBonAppart ! </h1>


<h3> Rechercher une annonce. </h3>
</br>

<form action="{{res}}" method="post">

  Mot(s) clé(s) : <input type="text" name="motcle"><br/>
  <input type="checkbox" name="location" value="Location">&nbsp;Location<br/>
  <input type="checkbox" name="vente" value="Vente">&nbsp;Vente<br/>

Superficie minimale : <input type="number" name="superficie"><br/>

Prix min : <input type="number" name="prix"> <br>


Nombre de pièce (a partir de :): <input type="text" name="nb_piece"><br/>

Ville :
  <select name="Ville">
    <option selected >----</option>
    {% for ville in villes %}
      <option>{{ville.nom}}</option>
    {% endfor %}
  </select>

Type :
  <select name="Type">
    <option selected >----</option>
  {% for type in types %}

    <option>{{type.nom}}</option>

  {% endfor %}
  </select>

Quartier :
  <select name="Quartier">

    <option selected >----</option>
   {% for quart in quartiers %}
    <option>{{quart.nom}}</option>
  {% endfor %}
  </select>



  <br/>
  <input type="submit" name="lanceRecherche" value="Rechercher">
</form>
<br/>
