<h1> LeBonAppart ! </h1>


<h3> Rechercher une annonce. </h3>
</br>

<form action="{{res}}" method="post">

  Mot(s) clé(s) : <input type="text" name="motcle"><br/>
  <input type="checkbox" name="location" value="Location">&nbsp;Location<br/>
  <input type="checkbox" name="vente" value="Vente">&nbsp;Vente<br/>
  
  Superficie : <input type="number" name="superficie"><br/>
  <input type="checkbox" name="type_habitation[]" value="Maison">&nbsp;Maison<br/>
  <input type="checkbox" name="type_habitation[]" value="Appartement">&nbsp;Appartement<br/>



  Tarif entre : <input type="number" name="min_tarif"> et <input type="number" name="max_tarif"><br/>
  Nombre de pièce : <input type="text" name="nb_piece"><br/>

  <select name="Ville">
    {% for ville in villes %}
      <option>{{ville.nom}}</option>
    {% endfor %}
  </select>

  <select name="Type">
  {% for type in types %}
    <option>{{type.nom}}</option>

  {% endfor %}
  </select>

  <select name="Quartier">
   {% for quart in quartiers %}
    <option>{{quart.nom}}</option>
  {% endfor %}
  </select>



  <br/>
  <input type="submit" name="lanceRecherche" value="Rechercher">
</form>
<br/>
