<h1> LeBonAppart ! </h1>


<h3> Rechercher une annonce. </h3>
</br>

<form action="" method="post">

  Mot(s) clé(s) : <input type="text" name="motcle"><br/>
  <input type="checkbox" name="loc_vente[]" value="Location">&nbsp;Location<br/>
  <input type="checkbox" name="loc_vente[]" value="Vente">&nbsp;Vente<br/>
  <input type="submit">
</form>


<button> Deposer votre annonce !</button>
